################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WW Exit/x64/Debug/WWExit.obj
