################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WW Exit/x64/Debug/WWExit.obj
/WW Exit/x64/Debug/WW Exit.tlog/WW Exit.lastbuildstate
/WW Exit/x64/Debug/WW Exit.tlog/link.write.1.tlog
/WW Exit/x64/Debug/WW Exit.tlog/link.read.1.tlog
/WW Exit/x64/Debug/WW Exit.tlog/link.command.1.tlog
/WW Exit/x64/Debug/WW Exit.tlog/CL.write.1.tlog
/WW Exit/x64/Debug/WW Exit.tlog/CL.read.1.tlog
/WW Exit/x64/Debug/WW Exit.tlog/CL.command.1.tlog
/WW Exit/x64/Debug/WW Exit.pdb
/WW Exit/x64/Debug/WW Exit.log
/WW Exit/x64/Debug/WW Exit.ilk
/WW Exit/x64/Debug/WW Exit.exe
/WW Exit/x64/Debug/vc140.pdb
/WW Exit/x64/Debug/vc140.idb
/WW Exit/x64/Debug/UserManager.obj
/WW Exit/x64/Debug/Main.obj
/WW Exit/x64/Debug/Login.obj
/WW Exit/x64/Debug/Graph.obj
/WW Exit/ClassDiagram.cd
/WW Exit/.vs/WW Exit/v14/.suo
/WW Exit/x64/Debug/TimeUtils.obj
/WW Exit/x64/Debug/Source.obj
/WW Exit/x64/Debug/Receipt.obj
/WW Exit/x64/Debug/GraphHighway.obj
/WW Exit/WW Exit.VC.db
/WW Exit/WW Exit.VC.VC.opendb
/WW Exit/Receipts/Receipt1.txt
/WW Exit/x64/Debug/Ticket.obj
/WW Entry/.vs/WW Entry/v14/.suo
/WW Entry/WW Entry.VC.db
/WW Entry/Debug/WW Entry.tlog/WW Entry.lastbuildstate
/WW Entry/Debug/WW Entry.tlog/link.write.1.tlog
/WW Entry/Debug/WW Entry.tlog/link.read.1.tlog
/WW Entry/Debug/WW Entry.tlog/link.command.1.tlog
/WW Entry/Debug/WW Entry.tlog/CL.write.1.tlog
/WW Entry/Debug/WW Entry.tlog/CL.read.1.tlog
/WW Entry/Debug/WW Entry.tlog/CL.command.1.tlog
/WW Entry/Debug/WW Entry.pdb
/WW Entry/Debug/WW Entry.log
/WW Entry/Debug/WW Entry.ilk
/WW Entry/Debug/WW Entry.exe
/WW Entry/Debug/vc140.pdb
/WW Entry/Debug/vc140.idb
/WW Entry/Debug/Source.obj
/WW Entry/Debug/Graph.obj
/WW Exit/x64/Debug/EntryCard.obj
/WW Exit/x64/Debug/CsvParser.obj
/WW Exit/x64/Debug/Console.obj
/WW Exit/Tickets/Ticket1337
/WW Entry/x64/Debug/WWEntry.obj
/WW Entry/x64/Debug/WW Entry.tlog/WW Entry.lastbuildstate
/WW Entry/x64/Debug/WW Entry.tlog/link.write.1.tlog
/WW Entry/x64/Debug/WW Entry.tlog/link.read.1.tlog
/WW Entry/x64/Debug/WW Entry.tlog/link.command.1.tlog
/WW Entry/x64/Debug/WW Entry.tlog/CL.write.1.tlog
/WW Entry/x64/Debug/WW Entry.tlog/CL.read.1.tlog
/WW Entry/x64/Debug/WW Entry.tlog/CL.command.1.tlog
/WW Entry/x64/Debug/WW Entry.pdb
/WW Entry/x64/Debug/WW Entry.log
/WW Entry/x64/Debug/WW Entry.ilk
/WW Entry/x64/Debug/WW Entry.exe
/WW Entry/x64/Debug/vc140.pdb
/WW Entry/x64/Debug/vc140.idb
/WW Entry/x64/Debug/UserManager.obj
/WW Entry/x64/Debug/TimeUtils.obj
/WW Entry/x64/Debug/Main.obj
/WW Entry/x64/Debug/Login.obj
/WW Entry/x64/Debug/EntryCard.obj
/WW Entry/x64/Debug/Console.obj
/data/Confirmations/Confirmation1337.txt
/data/Receipts/Receipt1337.txt
/Debug
